.main {
  min-height: 65vh;
}
.darkmode {
  background-color: #1d2e34 !important;
  color: #fff;
  .what__card {
    background: #4b4b4b;
    .what__cardtitle,
    .what__text {
      color: #fff;
    }
  }
  .about__link {
    color: #fff;
    background: #585757;
  }
  .about__main {
    border-radius: 35px;
    background-color: #1d2e34 !important;
  }
  .about__work {
    background: #585757;
  }
  .about__desc {
    background-color: #585757;
  }
  .about__social {
    background-color: #585757;
  }
  .jobs__card {
    background-color: #585757;
  }
  .team__carddesc {
    color: #fff !important;
  }
  .team__num {
    background: #006d7c;
  }
  .count {
    color: #fff;
  }
  .aboutus__right {
    background: #005776;
  }
  .review__card {
    background: #005776;
    color: #fff;
  }
  .contact__wrapper {
    background: #005776;
  }
}
.container {
  background-color: #e8fbff;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  &__wrapper {
    width: 1100px;
    display: flex;
    gap: 30px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    height: 50px;
  }
  &__img {
    width: 600px;
    height: 500px;
    border-radius: 25px;
    background-color: #000;
    padding: 25px;
  }
  &__desc {
    width: 625px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 20px;
  }
  &__titles {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__subtitle {
    color: #6faabf;
  }
  &__work {
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
    display: flex;
    width: 575px;
    background-color: #fff;
    flex-direction: column;
  }
  &__static {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__statext {
    font-size: 12px;
    width: 150px;
  }
  &__social {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: max-content;
    height: 80px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
  }
  &__icon {
    width: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &__icons {
    display: flex;
    gap: 10px;
  }
}
.count {
  font-size: 50px;
  font-weight: 700;
  color: #707070;
}
.countb {
  font-size: 50px;
  font-weight: 700;
  color: #6faabf;
}
.all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrapper {
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
  }
  &__videos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__video {
    min-width: 340px !important;
    height: 200px;
    background-size: cover;
  }
}

.jobs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  &__wrapper {
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    width: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }
  &__reqcard {
    display: flex;
  }
}
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  &__wrapper {
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
